@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Contact", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="text" id="strInput" name="strInput" value="" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Calculate it" class="btn btn-default" />
                    </div>
                </div>

            }
        </section>
    </div>
</div>
<div>@ViewBag.Message</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval") }
